.section > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: .5vh 0;
    width: 15vw;
    height: 12vh;
    border: 1px solid red;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 95vw;    
}

.title *{
    display: flex;
    flex-direction: columns;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category {

}

.blank {
    border: 3px dashed black;
    background-color: blue;   
}